
[Unit]
Description=GNSS Data Receiver Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/kirill/project/receiver_service.py <receiver_name>
Restart=always
User=kirill
WorkingDirectory=/home/kirill/project

[Install]
WantedBy=multi-user.target


